@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #dddddd;
  }
}

@layer components {
  .type, .ability {
    @apply bg-yellow-500 py-[2px] px-2
  }

  .type:nth-of-type(2), .ability:nth-of-type(4) {
    @apply bg-red-500
  }

  .type:nth-of-type(3), .ability:nth-of-type(2) {
    @apply bg-sky-500
  }

  .type:nth-of-type(4), .ability:nth-of-type(3) {
    @apply bg-purple-500
  }

  .type:nth-of-type(5), .ability:nth-of-type(1) {
    @apply bg-pink-500
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}